html,
body {
  min-height: 100%;
}

body {
  background-color: rgb(183, 183, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.calc-container {
  width: 25%;
  height: 600px;
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  background-color: lavender;
  padding: 1rem;
}

.display-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100px;
  grid-column: 1 / 5;
  background-color: rgb(214, 210, 210);
  font-size: 4em;
  justify-content: end;
  align-items: flex-end;
  padding: 0.25rem;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
}

#input {
  text-align: right;
}

#history-display {
  text-align: left;
  font-size: 0.4em;
}

button {
  border-radius: 0.4rem;
  font-size: 2em;
  font-family: 'Courier New';
}

button.num-btn {
  background-color: rgba(105, 224, 240, 0.904);
}

button.operation-btn {
  background-color: rgb(235, 181, 100);
}

.equal-btn {
  background-color: rgb(163, 223, 163);
}

.clear-btn {
  background-color: rgba(28, 28, 196, 0.959);
  color: white;
  grid-column: 1 / 3;
}

.delete-btn {
  background-color: rgb(241, 122, 122);
  grid-column: 3/5;
}

@media (max-width: 900px) {
  .calc-container {
    height: 100%;
    width: 100%;
  }
}
